[Desktop Entry]
Type=Application
Name=Yazi
Comment=Terminal File Manager
Exec=foot --title="yazi" -e yazi %u
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
